<div class="contenido">


	    	<p>La Secretaría de Educación de Medellín y su Laboratorio de Calidad ponen a disposición
              de las instituciones educativas, padres de familia, estudiantes y la comunidad en general,
              el nuevo Sistema de Medición de la Calidad de las Instituciones Educativas (SIMCIE-
              Medellín), que se constituye como una herramienta de seguimiento y evaluación del
              sistema educativo de la ciudad de Medellín.
            </p>
            <p>El Sistema de Medición reporta el nivel o estado en calidad de cada una de las instituciones
              educativas de la ciudad utilizando diversos indicadores y en especial, un indicador
              multidimensional de la calidad educativa, el cual permite comparar el nivel en calidad de
              un colegio en particular con el resto de instituciones del municipio y con sus similares en
              características socioeconómicas de los estudiantes y de entorno.
            </p>
             <p>Mas información sobre el sistema</p>
              <ul style="margin: 0px 0px 0px 0px;" class="links">
                <li><%=link_to "Administradores", "/administradores" %></li>
                <li><%=link_to "Aliados Estratégicos", "/aliados" %></li>
                <li><%=link_to "Más acerca del Sistema de Medición de la Calidad de la Educación", "/acerca"%></li>
                <!--<li><%=link_to "Antecedentes", "#" %></li>-->
                <li><%= link_to "Fuentes de información del Sistema", "/fuentes" %></li>
                <li><%= link_to "Indicador Multidimensional de la Calidad Educativa", "/indicador" %></li>
                <li><%= link_to "Utilidad del Sistema", "/utilidad" %></li>
              </ul>
</div>

<div class="image">
      <%= image_tag("ninios.jpg") %>
</div>







