<div class="contenido">

     <div class="home top">
       <%= image_tag("b.jpg") %>
       <h1>¡Bienvenido!</h1>
     </div>

	 <div class="home left">

            <p>La Secretaría de Educación de Medellín y su Laboratorio de Calidad ponen a disposición de las
              Instituciones Educativas, padres de familia, estudiantes, docentes y la comunidad en general, el nuevo
              Sistema de Medición de la Calidad de las Instituciones Educativas (SIMCIE- Medellín), que se constituye
              como una herramienta en línea de seguimiento y evaluación del sistema educativo del Municipio de Medellín.
            </p>
            <p>
              El SIMCIE mide y reporta la calidad de cada una de las Instituciones Educativas de la ciudad utilizando
              diversos indicadores y en especial, un indicador multidimensional de la calidad educativa, el cual
              permite comparar cada institución con el resto de instituciones del Municipio y con sus similares en
              características socioeconómicas de sus estudiantes y de entorno.
            </p>
     </div>
     <div class="home right">
            <%= image_tag("a.jpg") %>
             <p>Mas información sobre el sistema</p>
              <ul style="margin: 0px 0px 0px 0px;" class="links">
                <li><%=link_to "Administradores", "/administradores" %></li>
                <li><%=link_to "Aliados Estratégicos", "/aliados" %></li>
                <li><%=link_to "Más acerca del Sistema de Medición de la Calidad de la Educación", "/acerca"%></li>
                <!--<li><%=link_to "Antecedentes", "#" %></li>-->
                <li><%= link_to "Indicador Multidimensional de la Calidad Educativa", "/indicador" %></li>
                <li><%= link_to "Fuentes de información del Sistema", "/fuentes" %></li>
                <li><%= link_to "Utilidad del Sistema", "/utilidad" %></li>
                <li><%=  link_to "Documento de ayuda", "/Glosario_SIMCIE.PDF",:target => "_blank"  %></li>
              </ul>
     </div>

     <div class="home bottom">
       <%= image_tag("c.jpg") %>
     </div>

</div>









