<div class="header">
 <div class="name">

   <h1>Sistema de Medici&oacute;n de la Calidad</h1>
   <h3>Ciudad de Medell&iacute;n.</h3>

 </div>


</div>

<div class= "contenido">
  <div class="bar">
         <ul>
           <li>Acerca de</li>
           <li>Reportes</li>
           <li><%=link_to "participantes","/pages/participantes" %></li>
	   <li><%=link_to "reportes","/alumnos/index" %></li>
         </ul>
 </div>
 <p> La Secretar&iacute;a de Educaci&oacute;n del Municipio de Medell&iacute;n viene trabajando
en el fortalecimiento de su Laboratorio de Calidad de la Educaci&oacute;n y
actualmente está interesada en la implementaci&oacute;n de un sistema de
medici&oacute;n de indicadores de calidad de la educaci&oacute;n que permit&aacute;n el
monitoreo, la evaluaci&oacute;n y la toma de decisiones sobre el proceso y los
resultados del sistema educativo del Municipio y que sirva para las
labores de mejoramiento de la calidad de la ense&ntilde;anza en las
instituciones educativas (IE) del Municipio.
</p>

</div>



<div class="images">
     <%=link_to( image_tag("eafit.png"),"http://www.eafit.edu.co") %>
     <%=link_to( image_tag("cice.png"),"http://www.eafit.edu.co/cice/Paginas/inicio.aspx") %>
     <%=link_to( image_tag("alcaldia_medellin.png"),"http://www.medellin.gov.co/irj/portal/ciudadanos?NavigationTarget=navurl://9b271f06d3c5df950aef538cad9f510f") %>

</div>

