<p id="notice"><%= notice %></p>
<h1><%= @user.nombre.downcase.titleize %></h1>
<strong>Nombre de usuario:</strong> <%= @user.nickname %><br>
<strong>Correo electrónico: </strong> <%= @user.email %>
<strong></strong>
<br /><br />
<%if current_user.id.eql? @user.id %>
    <%= link_to "Editar", edit_user_path(current_user), :class => "option_button" %>
<% else %>
    <%= link_to "Volver", root_path(), :class => "option_button" %>
<%end%>
<% if current_user.admin? %>
    <%= link_to "Administrar", admin_users_path,  :class => "option_button"  %>
<%end%>

<div class="ajustar"></div>
