<h1>Nuevo Usuario</h1>

<%= form_for [:admin, @user] do |f| %>
                <div class="field">
                    <%= f.label :nombre %> <br />
                    <%= f.text_field :nombre %>
                </div>
                <div class="field">
                    <%= f.label :email %> <br />
                    <%= f.text_field :email %>
                </div>
                <div class="field">
                    <% f.label :admin, "Tipo de usuario" %> <br />
                    <% f.text_field :admin %>
                </div>
                <div class="field">
                    <%= f.label :password, "Contraseña" %> <br />
                    <%= f.password_field :password %>
                </div>
                <div class="field">
                    <%= f.label :password_confirmation, "Confirme la contraseña" %> <br />
                    <%= f.password_field :password_confirmation %>
                </div>
                <div class="actions">
                  <%= f.submit "Crear", :class => "option_button" %>
                  <%= link_to 'Atras', admin_users_path, :class => "option_button" %>
                </div>
            <%end%>


<div class="ajustar"></div>

