<table  border=1 cellspacing=0 cellpadding=2 >
    <tr>
      <th class="titulo" style="text-align: center" colspan="8">Dimensión Ambiente Escolar de Aprendizaje
        <%= image_tag "question1.png", :class => 'ayuda',:id => 'ambiente', :title => "clic para informacion", :align => "right" %>
      </th>
    </tr>
    <tr class="hiden ambi">
      <td colspan="8">
        <b>La dimensión de Ambiente Escolar consta de cuatro componentes evaluados:</b>
        <ol>
          <li>Expectativas Académicas</li>
          <li>Comunicación</li>
          <li>Participación</li>
          <li>Seguridad y respeto</li>
        </ol>
        <p>
        Estos se indagaron a través de la aplicación de encuestas de percepción a los principales actores
        educativos hombres y mujeres: estudiantes de grado 9, 10 y 11, docentes y padres de familia. La
        información se muestra por actor educativo y el agregado (estudiantes, padres y docentes) por
        cada institución educativa.
        </p>
        <b>¿Cómo leer el resultado para la IE de su interés?</b>
        <p>
        La calificación tiene un mínimo de 0 y un máximo de 10. Si el resultado obtenido por la IE
        se encuentra cercano a 10, la percepción de estudiantes, padres de familia y/o  docentes
        es muy buena frente a varios aspectos del Ambiente Escolar de Aprendizaje. Caso contrario
        si es cercano a 0.
        </p>
        <b>Utilice esta información para analizar, entre otros, los siguientes aspectos:</b>
        <ul>
          <li>Con respecto a las IE pares o similares y oficiales de la ciudad, ¿cómo se encuentra la institución
            educativa que estoy consultando en cada uno de los 4 componentes de Ambiente Escolar?</li>
          <li>¿Qué actor educativo registra una mejor/peor percepción frente a la IE?</li>
          <li>¿Qué componente de ambiente escolar es el mejor/peor evaluado en la IE?</li>
        </ul>
      </td>
    </tr>


<tr>
  <th width="20%" rowspan="2">Componentes</th>
  <th width="10%" rowspan="2">Resultado <p style="text-align: center">(Máx = 10)</p></th>
  <th width="30%" colspan="3">IE respecto IE pares</th>
  <th width="30%" colspan="3" >IE respecto a la ciudad</th>


</tr>
<!-- Resultados Ambiente Escolar -->
<tr>
  <th>Mín</th>
  <th style="text-align: center">Gráfico</th>
  <th>Máx</th>
  <th>Mín</th>
  <th style="text-align: center">Gráfico</th>
  <th>Máx</th>

</tr>
<tr>
  <td colspan="8"><b>Percepción de la comunidad educativa (agregada) según componente de Ambiente Escolar</b></td>
</tr>
<!-- Expectativas academicas -->
<tr>
  <td>Expectativas acad&eacute;micas</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.III_total) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width:<%=comparar_ancho("PosicionClusterExpectativasA") %>;">
        <%=comparar_valor("PosicionClusterExpectativasA") %></strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%=comparar_ancho("PosicionTotalExpectativasA") %>;">
      <%=comparar_valor("PosicionTotalExpectativasA") %></strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Comunicacion -->
<tr>
  <td>Comunicación</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.IV_total) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%=comparar_ancho("PosicionClusterComunicacion") %>;">
      <%=comparar_valor("PosicionClusterComunicacion") %></strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%=comparar_ancho("PosicionTotalComunicacion") %>;">
      <%=comparar_valor("PosicionTotalComunicacion") %></strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Compromiso -->
<tr>
  <td>Compromiso</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.V_total) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%=comparar_ancho("PosicionClusterParticipacion") %>;">
      <%=comparar_valor("PosicionClusterParticipacion") %></strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%=comparar_ancho("PosicionTotalParticipacion") %>;">
      <%=comparar_valor("PosicionTotalParticipacion") %></strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Seguridad y respeto -->
<tr>
  <td>Seguridad y respeto</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.VI_total) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%=comparar_ancho("PosicionClusterSeguridadRespeto") %>;">
      <%=comparar_valor("PosicionClusterSeguridadRespeto") %></strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%=comparar_ancho("PosicionTotalSeguridadRespeto") %>;">
      <%=comparar_valor("PosicionTotalSeguridadRespeto") %></strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Calificación del servicio -->
<tr>
  <td>Calificación del servicio educativo</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.VII_total) %></td>
  <td width="3%">0%</td>
  <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 0;"></strong></div></td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 0;"></strong></div></td>
  <td width="3%">100%</td>

</tr>
<!-- Total dimension -->
<tr>
  <td><b>Total Dimensión</b></td>
  <td class="resulie"><%=verbose_progreso(@ambientes.Ambi_escol) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%=comparar_ancho("PosicionClusterAmbienteEscolar1") %>;">
      <%=comparar_valor("PosicionClusterAmbienteEscolar1") %></strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%=comparar_ancho('PosicionTotalAmbienteEscolar') %>;">
      <%=comparar_valor("PosicionTotalAmbienteEscolar") %></strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<tr>
  <td colspan="8"><b>Percepción de los estudiantes según componente de Ambiente Escolar</b></td>
</tr>
<!-- Estudiantes -->
<tr>
  <td>Expectativas acad&eacute;micas</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.III_e) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width:<%= comparar_ancho("PosicionClusterExpectativasAE") %>;">
        <%=comparar_valor("PosicionClusterExpectativasAE") %></strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%=comparar_ancho("PosicionTotalExpectativasAE") %>;">
      <%=comparar_valor("PosicionTotalExpectativasAE") %></strong>
    </div>
  </td>
  <td width="3%">100%</td>


</tr>
<!-- Comunicacion -->
<tr>
  <td>Comunicaci&oacute;n</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.IV_e) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterComunicacionE")%>;">
        <%= comparar_valor("PosicionClusterComunicacionE") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalComunicacionE")%>;">
      <%= comparar_valor("PosicionTotalComunicacionE") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Compromiso -->
<tr>
  <td>Compromiso</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.V_e) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterParticipacionE")%>;">
      <%= comparar_valor("PosicionClusterParticipacionE") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalParticipacionE")%>;">
      <%= comparar_valor("PosicionTotalParticipacionE") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Seguridad y respeto -->
<tr>
  <td>Seguridad y respeto</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.VI_e) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterSeguridadResE")%>;">
      <%= comparar_valor("PosicionClusterSeguridadResE") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalSeguridadResE")%>;">
      <%= comparar_valor("PosicionTotalSeguridadResE") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Calificación del servicio -->
<tr>
  <td>Calificación del servicio educativo</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.VII_e) %></td>
  <td width="3%">0%</td>
  <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 0%;"></strong></div></td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 0%;"></strong></div></td>
  <td width="3%">100%</td>

</tr>
<!-- Total dimension -->
<tr>
  <td><b>Total Dimensión</b></td>
  <td class="resulie"><%=verbose_progreso(@ambientes.Ambi_escol_e) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterAmbienteEscolarE")%>;">
      <%= comparar_valor("PosicionClusterAmbienteEscolarE") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalAmbienteEscolarE")%>;">
      <%= comparar_valor("PosicionTotalAmbienteEscolarE") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Fin Estudiantes -->
<tr>
  <td colspan="8"><b>Percepción de los docentes según componente de Ambiente Escolar</b></td>
</tr>
<!-- Docentes -->
<tr>
  <td>Expectativas acad&eacute;micas</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.III_d) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterExpectativasAD")%>;">
      <%= comparar_valor("PosicionClusterExpectativasAD") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalExpectativasAD")%>;">
      <%= comparar_valor("PosicionTotalExpectativasAD") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Comunicacion -->
<tr>
  <td>Comunicaci&oacute;n</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.IV_d) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterComunicacionD")%>;">
      <%= comparar_valor("PosicionClusterComunicacionD") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalComunicacionD")%>;">
      <%= comparar_valor("PosicionTotalComunicacionD") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Compromiso -->
<tr>
  <td>Compromiso</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.V_d) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterParticipacionD")%>;">
      <%= comparar_valor("PosicionClusterParticipacionD") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalParticipacionD")%>;">
      <%= comparar_valor("PosicionTotalParticipacionD") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Seguridad y respeto -->
<tr>
  <td>Seguridad y respeto</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.VI_d) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterSeguridadResD")%>;">
      <%= comparar_valor("PosicionClusterSeguridadResD") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalSeguridadResD")%>;">
      <%= comparar_valor("PosicionTotalSeguridadResD") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Calificación del servicio -->
<tr>
  <td>Calificación del servicio educativo</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.VII_d) %></td>
  <td width="3%">0%</td>
  <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 0%;"></strong></div></td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 0%;"></strong></div></td>
  <td width="3%">100%</td>

</tr>
<!-- Total dimension -->
<tr>
  <td><b>Total Dimensión</b></td>
  <td class="resulie"><%=verbose_progreso(@ambientes.Ambi_escol_d) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterAmbienteEscolarD")%>;">
      <%= comparar_valor("PosicionClusterAmbienteEscolarD") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalAmbienteEscolarD")%>;">
      <%= comparar_valor("PosicionTotalAmbienteEscolarD") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>

<!-- Fin Docentes -->
<tr>
  <td colspan="8"><b>Percepción de los padres de familia según componente de Ambiente Escolar</b></td>
</tr>
<!-- Padres -->
<tr>
  <td>Expectativas acad&eacute;micas</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.III_p) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterExpectativasAP")%>;">
      <%= comparar_valor("PosicionClusterExpectativasAP") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalExpectativasAP")%>;">
      <%= comparar_valor("PosicionTotalExpectativasAP") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Comunicacion -->
<tr>
  <td>Comunicaci&oacute;n</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.IV_p) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterComunicacionP")%>;">
      <%= comparar_valor("PosicionClusterComunicacionP") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalComunicacionP")%>;">
      <%= comparar_valor("PosicionTotalComunicacionP") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Compromiso -->
<tr>
  <td>Compromiso</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.V_p) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterParticipacionP")%>;">
      <%= comparar_valor("PosicionClusterParticipacionP") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalParticipacionP")%>;">
      <%= comparar_valor("PosicionTotalParticipacionP") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Seguridad y respeto -->
<tr>
  <td>Seguridad y respeto</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.VI_p) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterSeguridadResP")%>;">
      <%= comparar_valor("PosicionClusterSeguridadResP") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalSeguridadResP")%>;">
      <%= comparar_valor("PosicionTotalSeguridadResP") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Calificación del servicio -->
<tr>
  <td>Calificación del servicio educativo</td>
  <td class="resulie"><%=verbose_progreso(@ambientes.VII_p) %></td>
  <td width="3%">0%</td>
  <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 0%;"></strong></div></td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 0%;"></strong></div></td>
  <td width="3%">100%</td>

</tr>
<!-- Total dimension -->
<tr>
  <td><b>Total Dimensión</b></td>
  <td class="resulie"><%=verbose_progreso(@ambientes.Ambi_escol_p) %></td>
  <td width="3%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionClusterAmbienteEscolarP")%>;">
      <%= comparar_valor("PosicionClusterAmbienteEscolarP") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>
  <td width="5%">0%</td>
  <td class="puntaje">
    <div class="grafico"><strong class="barra" style="width: <%= comparar_ancho("PosicionTotalAmbienteEscolarP")%>;">
      <%= comparar_valor("PosicionTotalAmbienteEscolarP") %>
    </strong>
    </div>
  </td>
  <td width="3%">100%</td>

</tr>
<!-- Fin Padres -->

<!-- Termina Ambiente Escolar -->

</table>