<!-- tabla de progreso academico -->
<table border=1 cellspacing=0 cellpadding=2 >
  <tr class="titulo" style="text-align: center" >
    <th colspan="11">
      Dimensión Progreso Académico
    </th>
  </tr>
  <tr >
    <td style="text-align: center" colspan="11">
      <p>
        Progreso en el rendimiento académico en las áreas de matemáticas y lenguaje para los grados 5°, 9° y 11°.
      </p>
      <p>
        Los indicadores de Progreso escolar miden la variación en el rendimiento académico de las IE a través
        del tiempo. Estos indicadores muestran el mejoramiento o deterioro del rendimiento académico de la IE.
      </p>
    </td>
  </tr>

  <tr>
    <th rowspan ="2" width="5%">Año</th>
    <th rowspan ="2" width="5%">Grado</th>
    <th rowspan ="2">Área de conocimiento</th>
    <th rowspan ="2">Indicador</th>
    <th rowspan ="2">Resultado</th>
    <th  width="30% " colspan="3">IE respecto a IE pares</th>
    <th  width="30%"  colspan="3">IE respecto a la ciudad</th>

  </tr>
  <tr>
    <td>Min</td>
    <td style="text-align: center ">Gráfico</td>
    <td>Max</td>
    <td>Min</td>
    <td style="text-align: center ">Gráfico</td>
    <td>Max</td>
  </tr>
  <tr>
    <td rowspan="2" style="text-align: center">2009 - 2003</td>
    <td rowspan="2"style="text-align: center">5</td>
    <td>Lenguaje</td>
    <td rowspan="6">Progreso en el rendimiento académico de los estudiantes</td>
    <td><%= verbose(@rendimientos.Progresolen5) %></td>
    <td width="3%">0%</td>
    <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 24%;">24%</strong></div></td>
    <td width="3%">100%</td>
    <td width="3%">0%</td>
    <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 24%;">24%</strong></div></td>
    <td width="3%">100%</td>
  </tr>
  <tr>
    <td>Matemáticas</td>
    <td><%= verbose(@rendimientos.Progresomat5) %></td>
    <td>0%</td>
    <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 24%;">24%</strong></div></td>
    <td>100%</td>
    <td>0%</td>
    <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 24%;">24%</strong></div></td>
    <td>100%</td>
  </tr>
  <tr>
    <td rowspan="2" style="text-align: center">2009 - 2003</td>
    <td rowspan="2" style="text-align: center">9</td>
    <td>Lenguaje</td>
    <td><%= verbose(@rendimientos.Progresolen9) %></td>
    <td>0%</td>
    <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 24%;">24%</strong></div></td>
    <td>100%</td>
    <td>0%</td>
    <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 24%;">24%</strong></div></td>
    <td>100%</td>
  </tr>
  <tr>
    <td>Matemáticas</td>
    <td><%= verbose(@rendimientos.Progresomat9) %></td>
    <td>0%</td>
    <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 24%;">24%</strong></div></td>
    <td>100%</td>
    <td>0%</td>
    <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 24%;">24%</strong></div></td>
    <td>100%</td>
  </tr>

  <tr>
    <td rowspan="2" style="text-align: center">2010 - 2007</td>
    <td rowspan="2" style="text-align: center">11</td>
    <td>Lenguaje</td>
    <td><%= verbose(@rendimientos.Progresolen11) %></td>
    <td>0%</td>
    <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 24%;">24%</strong></div></td>
    <td>100%</td>
    <td>0%</td>
    <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 24%;">24%</strong></div></td>
    <td>100%</td>
  </tr>
  <tr>
    <td>Matemáticas</td>
    <td><%= verbose(@rendimientos.Progresomat11) %></td>
    <td>0%</td>
    <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 24%;">24%</strong></div></td>
    <td>100%</td>
    <td>0%</td>
    <td class="puntaje"><div class="grafico"><strong class="barra" style="width: 24%;">24%</strong></div></td>
    <td>100%</td>
  </tr>


</table>
<!-- Fin tabla de progreso academico -->