<h1>Reporte de ambiente escolar</h1>
<p>Ingresar texto aqui (mateo)</p>
<p>&nbsp;</p>

<%=	@nombre.colegio   %>
<%	 @colegio.each do |resul| %>
<%=	resul.coddane  %>
<%=	 resul.academic_exp_Total %>
<%=	 resul.comunic_Total %>
<%=	 resul.compro_Total %>
<%=  resul.seg_resp_Total %>
<%=  resul.ambiente_esc %>
<%	 end %>

<p>&nbsp;</p>
<%=	 link_to "Volver", reportes_path    %>
