
<div class="ingresar">
<h1>Inicio de sesión</h1>

   <%= form_for(:session, :url => sessions_path) do |f| %>
    <table>
    <tr>
       <td>   <%= f.label :nickname, "Usuario de usuario" %> </td>
       <td>   <%= f.text_field :nickname, :autocomplete => :off %>     </td>
    </tr>
    <tr>
       <td><%= f.label :password, "Contraseña" %> </td>
       <td><%= f.password_field :password, :autocomplete => :off %></td>
    </tr>
    <tr>
       <td></td>
       <td class="actions"> <%= f.submit "Entrar",:class => 'input' %> </td>

    </tr>
    </table>
    <% end %>
    <%link_to "recuperar contraseña",'#' %>
</div>



 
