   <h1>Editar datos: <%= @user.nombre.downcase.titleize %></h1>
       <%if current_user.admin? && current_user != @user %>
           <%= form_for(@user) do |f| %>
               <%=   @user.nombre.downcase.titleize  %>
              <div class="field">
                   <%= f.label :admin %> <br />
                   <%= f.text_field :admin %>
              </div>
           <%end %>

       <% else %>
             <%= form_for(@user) do |f| %>
                <div class="field">
                    <%= f.label :email, "Correo electrónico" %> <br />
                    <%= f.text_field :email %>
                </div>

                <div class="field">
                    <%= f.label :password, "Nueva contraseña" %> <br />
                    <%= f.password_field :password %>
                </div>
                <div class="field">
                    <%= f.label :password_confirmation, "Confirmar contraseña" %> <br />
                    <%= f.password_field :password_confirmation %>
                </div>
                <div class="actions">
                        <%= f.submit "Actualizar" %> <br />
                </div>
            <%end%>
        <%end %>
